
.reload-icon {
    background-image: url('static/reload.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.error {
    color: red;
}
#messages {
    background-color: #f8f9fa;
    padding: 10px;
}

#message-form {
    margin-top: 20px;
}

.right-mark::after {
  content: "\2714"; /* Unicode character code for "&#9989;" */
}
.wrong-mark::after {
  content: "\274C"; /* Unicode character code for "&#10060;" */
}


